.card, .infoContent {
  color: inherit;
}
.card .infoContent > div:last-child:has(a), .card .infoContent > div:last-child:has(button) {
  margin-top: auto;
}
.card .infoContent > a,.card .infoContent > button {
  display: block;
  width: 100%;
  text-align: center;
}