.authorCard {
  display: flex;
  align-items: center;

  @apply min-w-[14rem];
  @apply gap-3;
}

.authorCard > img {
  @apply w-11 h-11 rounded-full; 
}

.authorCard .metaData {
  display: flex;
  flex-direction: column
}
.authorCard .metaData {
  @apply font-semibold;
  @apply text-gray-700;
}

.authorCard .metaData .role {
  @apply font-normal;
  @apply text-gray-500;
  @apply text-sm;
  @apply italic;
}