.pageContent {
  width: 100%;
  @apply leading-relaxed;
  @apply text-neutral-800;
}

.header {
  text-align: center;
  @apply max-w-2xl;
  @apply py-14;
  @apply mx-auto;
}

.header h1 {
  @apply mb-5;
}

.header p {
  @apply text-lg;
  @apply text-neutral-700;
}
.featuredImage {
  @apply max-w-4xl;
  @apply mx-auto;
  @apply mb-11;
}
.featuredImage figcaption {
  width: 100%;
  text-align: right;
  @apply px-5;
  @apply text-sm;
  @apply mt-2;
  @apply italic;
  @apply text-neutral-400;
}
.body {
  @apply max-w-3xl;
  @apply mx-auto;
}